.cuerpo {
    background-image: url(/img/pexels-vlad-alexandru-popa-1402787.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    color: white;
    font-size: 4rem;
}

.cabeza {
    display: flex;
    justify-content: center;
}